/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';

$breakpoint-mobile: 480px;
/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}
html, body{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden;
	background: #ccc;
}

.interaction-instructions-container {	
	color: black;
	font-size: .8rem;
	font-family: Helvetica, sans-serif;
	position: absolute;
	bottom: 5%;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	z-index: 10;
	.page-interaction{
		.interaction-key{
			font-size: 1.5rem;
			font-weight: bold;
			text-transform: uppercase;
			padding: 10px 0;
		}
		.interaction-animation{
			animation: bounce 1s infinite;
			position: relative;
			width: 24px;
		}
	}
	&.white{
		color: white;
	}
}
.lemon-interaction{
	display: none;
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	z-index: 11;
	color: black;
	font-size: .8rem;
	font-family: Helvetica, sans-serif;
	color: #fff;
	z-index: 100001;

	.lemon{
		animation: wiggle 1s infinite;
		transform: rotate(50deg);
		width: 100px;
		position: relative;
		margin-bottom: 10px;
	}
	.droplet{
		width: 30px;

	}	
}

#transition-video-player {
	display: none;
	z-index: 100000;
	// @media screen and (orientation:portrait) {
	//     display: flex;
	//     justify-content: center;
	//     align-items: center;

	// }
}

@keyframes wiggle {
  0% {transform: rotate(60deg);}
  50% {transform: rotate(40deg);}
  100% {transform: rotate(60deg);}
}

#scene {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden;
}
.video{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%; 
	min-height: 100%;
	overflow: hidden;
}

.polaroid-container{
	background-image: url(../img/bed_bgd.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	.polaroid {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 35%;
		transform: translate(-50%, -50%);
		transform-origin: bottom center; 

		margin: 10px;	
		box-shadow: 10px 10px 67px -1px;

		&:nth-child(1) {
			transform: rotate(4deg) translate(-55%, -50%); 

		}

		&:nth-child(2) {
			transform: rotate(-4deg) translate(-50%, -60%); 

		}
		&:nth-child(3) {
			transform: rotate(8deg) translate(-40%, -50%); 

		}
		&:nth-child(4) {
			transform: rotate(-8deg) translate(-60%, -50%); 

		}
		&:nth-child(5) {
			transform: rotate(0deg) translate(-40%, -70%); 

		}
		&:nth-child(6) {
			transform: rotate(10deg) translate(-70%, -50%); 

		}
		&:nth-child(7) {
			transform: rotate(-12deg) translate(-50%, -60%); 

		}
		&:nth-child(8) {
			transform: rotate(10deg) translate(-55%, -40%); 

		}
		&:nth-child(9) {
			transform: rotate(-8deg) translate(-50%, -50%); 

		}
		&:nth-child(10) {
			transform: rotate(12deg) translate(-60%, -50%); 

		}
		&:nth-child(11) {
			transform: rotate(4deg) translate(-50%, -70%); 

		}
		&:nth-child(12) {
			transform: rotate(-10deg) translate(-80%, -50%); 

		}
		&:nth-child(13) {
			transform: rotate(13deg) translate(-50%, -50%); 

		}
		&.hidden {
			display: none;
		}
	}
}

.text{
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 12;
	h1, h2{
		font-weight: bold;
		text-transform: uppercase;
		font-family: Helvetica, sans-serif;
		padding-bottom: 10px;
	}
	.menu, h1{

		margin: 25px;

		p{
			font-size: .8rem;
			text-transform: uppercase;
			font-family: Helvetica, sans-serif;
			padding-bottom: 10px;
			font-weight: 400;
		}
	}
	.menu{
		display: flex;
		width: auto;
		flex-direction: column;
		align-items: flex-end;
	}
	.hamburger{
		display: none;
	}
	@media (max-width: $breakpoint-mobile) {
		.menu{
			visibility: hidden;
			&.active{
				visibility: visible;
			}
		}

		.hamburger{
			display: block;
			width: 32px;
			height: 32px;
			margin: 25px;
		
			span{
				display: block;
				width: 90%;
				height: 2px;
				margin-bottom: 3px;
				background-color: #000;

			}
		}
	}
	
}


#distortion_video-player{
	
	&.active{
		z-index: 10000000;
		visibility: hidden;
	}
	@media screen and (orientation:portrait) {
	    display: none;
	}
}


.flower-container{
	background-image: url(../flower_sequence/flower_bgd.jpg);
}
.flowers{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#flowers img{
	width: 5%;
	height: 5%;
}

.click-flower-container{
	font-family: Helvetica;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100000000;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../flower_sequence/flower_bgd.jpg);
	height: auto;
    width: 100px;
    margin: 25px 0;
    padding: 20px;
	p{
		text-align: center;
		padding-bottom: 20px;		
	}
	div{
		display: flex;
		flex-direction: column;
		align-items: center;
		.click-flower {
			width: 60%;
			height: 60%;
		}
	}
}



@keyframes bounce { 
	0% { top: 0; } 
	50% { top: 8px; } 
	100% { top: 0; } 
}



















